.clickable {
  color: #171923;
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  width: 200px;
  font-family:cursive;

}

.clickable:hover {
  text-decoration: underline;
}

.hideLink {
  display: none;
}
