.clickable {
        color: #171923;
    cursor: pointer;
    font-size: .8rem;
    display: flex;
    width: 200px;
}

.clickable:hover {
    text-decoration: underline;
}

.hideLink {
    display: none;
}